*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -- Navigation Bar -- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: sticky;
    top: 0;
    padding: 0px 10px 0px 10px;
}
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    background-color: #6f6f6f;
}
.main_nav{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}